/* COMMON */

body {
    font-family: Open Sans, Segoe UI, Tahoma, sans-serif;
}

img {
    width: 100%;
}

.padding-block {
    padding: 20px;
}

.bg-black {
    background-color: black;
}

.block-center {
    position: absolute;
    /* il genitore deve aver position:relative */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    list-style: none;
}

/* HEADER */

/* Header Common */

header ul li {
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 24px;
}

header ul li:first-child {
    margin-left: 10px;
}

/* logo */

.logo img {
    height: 18px;
}

/* Nav */

.nav {
    text-align: right;
}

/* Menu */

.menu ul li, .languages ul li {
    margin-left: 10px;
}

/* Languages */

.languages ul li {
    border-left: 1px solid black;
    padding-left: 10px;
}

.languages ul li:first-child {
    border-left: none;
}

/* Burger Menu */

.burger-menu {
    font-size: 16px;
}

/* Jumbotron */

.jumbotron {
    background-image: url(../img/hero-bg.jpg);
    height: 550px;
    /* l'altezza deve rimanere fissa per 
        l'immagine di sfondo */
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}

.jumbotron .title {
    width: 70%;
}

.jumbotron h1 {
    font-size: 50px;
}

.jumbotron p {
    padding: 18px 0;
    font-size: 15px;
    font-weight: 600;
}

.jumbotron img {
    width: 100px;
}

.title img {
    display: inline-block;
}

/* md */

@media all and (min-width: 768px) and (max-width: 991px) {
    .jumbotron h1 {
        font-size: 35px;
    }
    .jumbotron p {
        padding: 15px 0;
        font-size: 13px;
    }
    .logo img {
        height: 15px;
    }
}

/* xs */

@media all and (max-width: 767px) {
    .jumbotron h1 {
        font-size: 30px;
    }
    .jumbotron p {
        padding: 15px 0;
        font-size: 12px;
    }
    .logo img {
        height: 10px;
    }
    .burger-menu {
        font-size: 14px;
    }
}

/* MAIN */

main a {
    text-decoration: none;
}

/* Section Product */

.product {
    text-align: center;
}

.inner-padding {
    padding: 25px;
}

.inner {
    background-color: #fafafa;
    padding: 40px;
}

.product h2 {
    font-size: 30px;
}

.product p {
    padding: 18px 0;
    font-size: 20px;
    font-weight: 600;
}

.product a {
    color: rgba(0, 112, 200);
}

.product a i {
    font-size: 13px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .product h2 {
        font-size: 25px;
    }
    .product p {
        padding: 10px 0;
        font-size: 15px;
    }
    .product a i {
        font-size: 10px;
    }
}

@media all and (max-width: 767px) {
    .product h2 {
        font-size: 20px;
    }
    .product p {
        padding: 15px 0;
        font-size: 13px;
    }
    .product a i {
        font-size: 8px;
    }
    .inner {
        padding: 20px;
    }
}

/* Section Phone */

.phone {
    background-image: url(../img/HelbizBanner.jpg);
    height: 370px;
    /* l'altezza deve rimanere fissa per 
        l'immagine di sfondo */
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.phone img {
    width: 25%;
    position: relative;
    padding-top: 130px;
}

@media all and (min-width: 768px) and (max-width: 991px){
    .phone img {
        width: 25%;
        position: relative;
        padding-top: 200px;
    }
}

@media all and (max-width: 767px) {
    .phone {
        background-position-x: -170px;
    }
    
    .phone img {
        width: 200px;
        position: relative;
        padding-top: 200px;
    }
}

/* Section Work */

.col_work_left, .col_work_right {
    padding: 60px;
}

.col_work_right{
    margin-top: 35px;
}

.col_work_left h2 {
    font-size: 35px;
}

.col_work_right h3 {
    font-size: 15px;
}

.col_work_right p {
    font-size: 11px;
}

@media all and (min-width: 768px) and (max-width: 991px){
    
    .col_work_right{
        margin-top: 10px;
    }
    
    .col_work_left h2 {
        font-size: 25px;
    }

}

@media all and (max-width: 767px) {
    .col_work_left, .col_work_right {
        padding: 0 60px;
    }
    
    .col_work_right{
        margin-top: 0;
        padding: 0 60px 30px 60px;
    }
    
    .col_work_left h2 {
        padding: 140px 60px 30px 0;
        font-size: 30px;
    }
}